<h1>Welcome to the free book index</h1>
<%= link_to 'View All Books', controller: 'books' %>
<p>
<h3>You can view all books, but please
  <a href="http://localhost:3000/session/new">Login</a>
  or <a href="http://localhost:3000/users/new">Register</a>    for other actions</h3>
